{{ gameServerName }} is a casual server for serious drivers.
If you want to take part in the choosing of combos you need to join the discord channel.

Rules for this server
     1. Be Respectful
     2. Follow any instructions from the Moderators

Some, but not all, actions that may get you banned from the server
     *Being disrespectful, insulting or trolling in the chat
     *Intentionally crashing, ramming or blocking other cars on track or in the pits
     *Lack of car control or dangerous driving on track or in the pits
     *Glitching, cheating or intentionally cutting the track (may result in instant ban)
     *Having an unreadable name or one that just reads as “Player” or "User"

{{ .Track }} {{ with .TrackLayout }}({{ . }}){{ end }}

{{ .EventDescription }}
{{ .ChampionshipPoints }}
{{ .CarDownloads }}
{{ .TrackDownload }}
