<!-- added by ansible on {{ ansible_date_time.date }} -->

<head>
  <meta http-equiv='refresh' content='2; URL={{ discord_url }}'>
</head>

<body style="background-color:#CED4D5;">
  <br>
  <br>
  <div style="width:100%;text-align:center;">
  <img src="{{ site_banner }}" alt="{{ gameServerName }} Banner"> <br>
  <br>
  <h1>Redirecting you to: <a href="https://{{ discord_url }}/">{{ discord_url }}</a></h1><br>
  <br>
  <img src="https://www.{{ site_fqdn }}/right_arrow_256px.png" alt="right arrow icon">
  <img src="https://www.{{ site_fqdn }}/discord_icon_256px.png" alt="discord icon"><br>
  </div>
  <br>
</body>
