{{ gameServerName }} is a casual server for serious drivers.
If you want to take part in the choosing of combos you need to join the discord channel.
Rules for this server:
     1. Be Respectful
     2. Follow any instructions from the Moderators
