Welcome to {{ game_server_name }}!
+ Be Respectful
+ Follow any and all instructions from the Moderators
{% if discord_enabled %}
Join our Discord: https://{{ site_fqdn }}/discord
{% endif %}
Live timing: https://{{ site_fqdn}}/live-timing?server={{ item }}
     
