<head>
  <meta http-equiv='refresh' content='0; URL=https://{{ siteFQDN }}/'>
</head>

<body>

  <div style="width:100%;text-align:center;">
  <a href="https://{{ siteFQDN }}/">Redirecting... </a>
  </div>

</body>
