# simview writer must be running before ac server is started
# installed on {{ ansible_date_time.date }}
# will restart every 5 seconds 4 times in 45 seconds to reduce restart spamming

[Unit]
Description=Simview Writer Server{{ item }} service
After=network.target
StartLimitBurst=4
StartLimitIntervalSec=45

[Service]
Type=simple
Nice=0
Restart=always
RestartSec=5

User=assetto
WorkingDirectory=/usr/local/sbin/acmanager/servers/SERVER_{{ item }}/assetto/simview
ExecStart=/usr/local/sbin/acmanager/servers/SERVER_{{ item }}/assetto/simview/SimViewWriter

[Install]
WantedBy=multi-user.target
